    <!-- Bootstrap JS (com Popper incluído) -->
    <script src="/js/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Seu script -->
    <script src="/assets/js/bundle.js"></script>
  </body>
</html>
