<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Agenda</title>
    <!-- CSP restrita (somente self), inseri o  'unsafe-inline' provisóriamente, mas a boa prática é criar um arquivo de style na pasta CSS, declará-la e mover toda a formatação para lá  -->
    <meta http-equiv="Content-Security-Policy"
      content="default-src 'self';
               script-src 'self';
               style-src 'self' 'unsafe-inline';  
               img-src 'self' data:;
               font-src 'self';
               connect-src 'self';">
    <!-- Bootstrap local -->
    <link rel="stylesheet" href="/css/node_modules/bootstrap/dist/css/bootstrap.min.css">
  </head>
  <body>
        