<%- include('includes/head') %>
<%- include('includes/nav') %>
  <div class="container">
    <div class="row">
      <div class=col-lg-2></div>
      <div class="container my-3">
        <div class="row justify-content-center">
          <div class="col-lg-8 text-center">
            <h1>Agenda</h1>
            <p class="lead">Your contacts are below:</p>

            <div>
              <div class="responsive-table">
                <table class="table my-3">
                  <tr>
                    <td>Joel</td>
                    <td>Mello</td>
                    <td>915382120</td>
                    <td>femsoft@gmail.com</td>
                  </tr>
                  
                </table>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
<%- include('includes/footer') %>